@import "@/common/styles/variables";
.register {
  height: 100vh;
  background: var(--gray-2);

  .card {
    width: 400px;
    min-height: 500px;
  }

  .title {
    text-align: center;
  }

  &__form {
    flex-direction: column;
    row-gap: 12px;
  }

  &__input {
    width: 350px;
    height: 45px;
  }
}
