@import "../../common/styles/variables";
.container {
  width: 1300px;
  margin: 0 auto;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .card {
    width: 400px;
    min-height: 500px;
  }

  .title {
    text-align: center;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
  }

  &__input {
    width: 350px;
    height: 45px;
  }
}
