@import "../../common/styles/variables";
.container {
  width: 1300px;
  margin: 0 auto;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .card {
    width: 400px;
    min-height: 500px;
  }

  .title {
    text-align: center;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
  }

  &__login {
    width: 300px;
  }

  &__input {
    width: 350px;
    height: 45px;
  }

  &__link {
    display: flex;
    column-gap: 5px;
    color: var(--gray-13);

    .link {
      color: var(--blue-6);
    }

    &:hover {
      color: inherit;
    }
  }

  .label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
  }

  &_error {
    color: var(--red-6);
  }

}

/* ant design */

.ant-form-item {
  margin-bottom: 0px;
}

.ant-btn {
  .ant-typography {
    margin: 0px;
    color: var(--gray-1);
  }
}

.ant-form-item-explain-error {
  padding-top: 4px;
  text-align: center;
}

/* ant design */