@import "../../common/styles/variables";
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--gray-2);

  .card {
    width: 400px;
    min-height: 450px;
  }

  .title {
    text-align: center;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
  }

  .label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }

}

.ant-form-item {
  margin-bottom: 0;
}
.ant-btn {
  .ant-typography {
    margin: 0;
    color: var(--gray-1);
  }
}

.ant-form-item-explain-error {
  padding-top: 4px;
  text-align: center;
}
