@import "../../common/styles/variables";
.container {
  width: 1300px;
  margin: 0 auto;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .card {
    width: 400px;
    min-height: 450px;
  }

  .title {
    text-align: center;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
  }

  &__login {
    width: 300px;
  }

  .label {
    display: flex;
    flex-direction: column;
    align-items: center;
    //gap: 5px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: var(--gray-13);

    .link {
      font-size: 14px;
      color: var(--blue-6);
      cursor: pointer;
    }

    &:hover {
      color: inherit;
    }
  }

  &_error {
    color: var(--red-6);
  }

}
/* ant design */

.ant-form-item {
  margin-bottom: 0px;
}
.ant-btn {
  .ant-typography {
    margin: 0px;
    color: var(--gray-1);
  }
}

.ant-form-item-explain-error {
  padding-top: 4px;
  text-align: center;
}

/* ant design */